--
-- PostgreSQL database dump
--

\restrict bbcGoGkKNZfaqBbnJ1EMRdRWLy5ROiwMfoO1M4PAOfS9DzK27v47gZdSxLwsYaq

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: arcade_partidas; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.arcade_partidas (
    id integer NOT NULL,
    usuario_id integer,
    modo character varying(20) NOT NULL,
    puntos integer NOT NULL,
    aciertos integer NOT NULL,
    total integer NOT NULL,
    jugada_en timestamp without time zone DEFAULT now()
);


ALTER TABLE public.arcade_partidas OWNER TO motoeduc_user;

--
-- Name: arcade_partidas_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.arcade_partidas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.arcade_partidas_id_seq OWNER TO motoeduc_user;

--
-- Name: arcade_partidas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.arcade_partidas_id_seq OWNED BY public.arcade_partidas.id;


--
-- Name: arcade_stats; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.arcade_stats (
    usuario_id integer NOT NULL,
    xp_total integer DEFAULT 0,
    partidas integer DEFAULT 0,
    aciertos_total integer DEFAULT 0,
    racha_actual integer DEFAULT 0,
    racha_maxima integer DEFAULT 0,
    ultima_fecha date
);


ALTER TABLE public.arcade_stats OWNER TO motoeduc_user;

--
-- Name: brechas_conocimiento; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.brechas_conocimiento (
    id integer NOT NULL,
    descripcion character varying(300),
    pct_con_brecha numeric(5,2),
    nivel_riesgo character varying(20),
    modulo_relacionado character varying(100)
);


ALTER TABLE public.brechas_conocimiento OWNER TO motoeduc_user;

--
-- Name: brechas_conocimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.brechas_conocimiento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brechas_conocimiento_id_seq OWNER TO motoeduc_user;

--
-- Name: brechas_conocimiento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.brechas_conocimiento_id_seq OWNED BY public.brechas_conocimiento.id;


--
-- Name: categorias_pregunta; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.categorias_pregunta (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    modulo_app character varying(100)
);


ALTER TABLE public.categorias_pregunta OWNER TO motoeduc_user;

--
-- Name: categorias_pregunta_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.categorias_pregunta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categorias_pregunta_id_seq OWNER TO motoeduc_user;

--
-- Name: categorias_pregunta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.categorias_pregunta_id_seq OWNED BY public.categorias_pregunta.id;


--
-- Name: contribuciones_historia; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.contribuciones_historia (
    id integer NOT NULL,
    nombre character varying(100) DEFAULT 'Anonimo'::character varying,
    ciudad character varying(100),
    anio character varying(20),
    historia text NOT NULL,
    estado character varying(30) DEFAULT 'pendiente_revision'::character varying,
    fecha_envio timestamp without time zone DEFAULT now()
);


ALTER TABLE public.contribuciones_historia OWNER TO motoeduc_user;

--
-- Name: contribuciones_historia_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.contribuciones_historia_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contribuciones_historia_id_seq OWNER TO motoeduc_user;

--
-- Name: contribuciones_historia_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.contribuciones_historia_id_seq OWNED BY public.contribuciones_historia.id;


--
-- Name: duelos; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.duelos (
    id integer NOT NULL,
    retador_id integer,
    rival_id integer,
    pregunta_ids jsonb NOT NULL,
    puntos_retador integer,
    puntos_rival integer,
    aciertos_retador integer,
    aciertos_rival integer,
    estado character varying(15) DEFAULT 'pendiente'::character varying,
    ganador_id integer,
    creado_en timestamp without time zone DEFAULT now(),
    resuelto_en timestamp without time zone
);


ALTER TABLE public.duelos OWNER TO motoeduc_user;

--
-- Name: duelos_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.duelos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.duelos_id_seq OWNER TO motoeduc_user;

--
-- Name: duelos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.duelos_id_seq OWNED BY public.duelos.id;


--
-- Name: experimento_piloto; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.experimento_piloto (
    id integer NOT NULL,
    usuario_id uuid,
    tipo character varying(10),
    puntaje integer,
    total_preguntas integer,
    pct_acierto numeric(5,2),
    fecha timestamp without time zone DEFAULT now(),
    CONSTRAINT experimento_piloto_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['pretest'::character varying, 'postest'::character varying])::text[])))
);


ALTER TABLE public.experimento_piloto OWNER TO motoeduc_user;

--
-- Name: experimento_piloto_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.experimento_piloto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.experimento_piloto_id_seq OWNER TO motoeduc_user;

--
-- Name: experimento_piloto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.experimento_piloto_id_seq OWNED BY public.experimento_piloto.id;


--
-- Name: garaje_items; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.garaje_items (
    id integer NOT NULL,
    nombre character varying(60) NOT NULL,
    icono character varying(8) NOT NULL,
    tipo character varying(10) NOT NULL,
    requisito_tipo character varying(10) NOT NULL,
    requisito_valor integer NOT NULL,
    descripcion character varying(160),
    rareza character varying(12) DEFAULT 'comun'::character varying,
    CONSTRAINT garaje_items_requisito_tipo_check CHECK (((requisito_tipo)::text = ANY ((ARRAY['xp'::character varying, 'racha'::character varying, 'partidas'::character varying])::text[]))),
    CONSTRAINT garaje_items_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['equipo'::character varying, 'moto'::character varying])::text[])))
);


ALTER TABLE public.garaje_items OWNER TO motoeduc_user;

--
-- Name: garaje_items_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.garaje_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.garaje_items_id_seq OWNER TO motoeduc_user;

--
-- Name: garaje_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.garaje_items_id_seq OWNED BY public.garaje_items.id;


--
-- Name: historial_evaluaciones; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.historial_evaluaciones (
    id integer NOT NULL,
    usuario_id uuid,
    pregunta_id integer,
    respuesta_dada text,
    correcta boolean NOT NULL,
    tiempo_seg integer,
    fecha timestamp without time zone DEFAULT now()
);


ALTER TABLE public.historial_evaluaciones OWNER TO motoeduc_user;

--
-- Name: historial_evaluaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.historial_evaluaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_evaluaciones_id_seq OWNER TO motoeduc_user;

--
-- Name: historial_evaluaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.historial_evaluaciones_id_seq OWNED BY public.historial_evaluaciones.id;


--
-- Name: llantas; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.llantas (
    id integer NOT NULL,
    marca_id integer,
    tipo_id integer,
    modelo character varying(150),
    medida_ejemplo character varying(50),
    precio_min_usd numeric(8,2),
    precio_max_usd numeric(8,2),
    descripcion text
);


ALTER TABLE public.llantas OWNER TO motoeduc_user;

--
-- Name: llantas_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.llantas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.llantas_id_seq OWNER TO motoeduc_user;

--
-- Name: llantas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.llantas_id_seq OWNED BY public.llantas.id;


--
-- Name: marcas_llanta; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.marcas_llanta (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    origen character varying(100),
    gama character varying(20)
);


ALTER TABLE public.marcas_llanta OWNER TO motoeduc_user;

--
-- Name: marcas_llanta_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.marcas_llanta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.marcas_llanta_id_seq OWNER TO motoeduc_user;

--
-- Name: marcas_llanta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.marcas_llanta_id_seq OWNED BY public.marcas_llanta.id;


--
-- Name: marcas_moto; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.marcas_moto (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    origen character varying(100),
    distribuidor_ec character varying(200),
    activa boolean DEFAULT true
);


ALTER TABLE public.marcas_moto OWNER TO motoeduc_user;

--
-- Name: marcas_moto_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.marcas_moto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.marcas_moto_id_seq OWNER TO motoeduc_user;

--
-- Name: marcas_moto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.marcas_moto_id_seq OWNED BY public.marcas_moto.id;


--
-- Name: motocicletas; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.motocicletas (
    id integer NOT NULL,
    marca_id integer,
    tipo_id integer,
    modelo character varying(150) NOT NULL,
    anio integer,
    cilindrada_cc integer,
    potencia_hp numeric(6,2),
    peso_kg numeric(6,2),
    precio_usd numeric(10,2),
    uso_recomendado character varying(200),
    disponible_ec boolean DEFAULT true
);


ALTER TABLE public.motocicletas OWNER TO motoeduc_user;

--
-- Name: motocicletas_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.motocicletas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.motocicletas_id_seq OWNER TO motoeduc_user;

--
-- Name: motocicletas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.motocicletas_id_seq OWNED BY public.motocicletas.id;


--
-- Name: perfiles_motociclista; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.perfiles_motociclista (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    uso_principal character varying(200),
    riesgos_principales character varying(300)
);


ALTER TABLE public.perfiles_motociclista OWNER TO motoeduc_user;

--
-- Name: perfiles_motociclista_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.perfiles_motociclista_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.perfiles_motociclista_id_seq OWNER TO motoeduc_user;

--
-- Name: perfiles_motociclista_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.perfiles_motociclista_id_seq OWNED BY public.perfiles_motociclista.id;


--
-- Name: piloto_evaluaciones; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.piloto_evaluaciones (
    id integer NOT NULL,
    usuario_id integer,
    fase character varying(10) NOT NULL,
    score integer NOT NULL,
    total integer NOT NULL,
    detalles jsonb,
    creado_en timestamp without time zone DEFAULT now(),
    CONSTRAINT piloto_evaluaciones_fase_check CHECK (((fase)::text = ANY ((ARRAY['pretest'::character varying, 'postest'::character varying])::text[])))
);


ALTER TABLE public.piloto_evaluaciones OWNER TO motoeduc_user;

--
-- Name: piloto_evaluaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.piloto_evaluaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.piloto_evaluaciones_id_seq OWNER TO motoeduc_user;

--
-- Name: piloto_evaluaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.piloto_evaluaciones_id_seq OWNED BY public.piloto_evaluaciones.id;


--
-- Name: piloto_preguntas; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.piloto_preguntas (
    orden integer NOT NULL,
    pregunta_id integer
);


ALTER TABLE public.piloto_preguntas OWNER TO motoeduc_user;

--
-- Name: preguntas_viales; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.preguntas_viales (
    id integer NOT NULL,
    categoria_id integer,
    pregunta text NOT NULL,
    respuesta_correcta text NOT NULL,
    opcion_b text,
    opcion_c text,
    opcion_d text,
    explicacion text,
    dificultad character varying(20),
    perfil_objetivo character varying(100),
    fuente character varying(300),
    activa boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.preguntas_viales OWNER TO motoeduc_user;

--
-- Name: preguntas_viales_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.preguntas_viales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.preguntas_viales_id_seq OWNER TO motoeduc_user;

--
-- Name: preguntas_viales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.preguntas_viales_id_seq OWNED BY public.preguntas_viales.id;


--
-- Name: sesiones_chat; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.sesiones_chat (
    id integer NOT NULL,
    usuario_id uuid,
    pregunta text,
    respuesta text,
    fuentes_rag text[],
    tokens_usados integer,
    fecha timestamp without time zone DEFAULT now()
);


ALTER TABLE public.sesiones_chat OWNER TO motoeduc_user;

--
-- Name: sesiones_chat_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.sesiones_chat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sesiones_chat_id_seq OWNER TO motoeduc_user;

--
-- Name: sesiones_chat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.sesiones_chat_id_seq OWNED BY public.sesiones_chat.id;


--
-- Name: tipos_llanta; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.tipos_llanta (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    terreno_ideal character varying(200),
    clima_ideal character varying(200)
);


ALTER TABLE public.tipos_llanta OWNER TO motoeduc_user;

--
-- Name: tipos_llanta_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.tipos_llanta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipos_llanta_id_seq OWNER TO motoeduc_user;

--
-- Name: tipos_llanta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.tipos_llanta_id_seq OWNED BY public.tipos_llanta.id;


--
-- Name: tipos_moto; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.tipos_moto (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text
);


ALTER TABLE public.tipos_moto OWNER TO motoeduc_user;

--
-- Name: tipos_moto_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.tipos_moto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipos_moto_id_seq OWNER TO motoeduc_user;

--
-- Name: tipos_moto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.tipos_moto_id_seq OWNED BY public.tipos_moto.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.usuarios (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(200),
    email character varying(200),
    provincia character varying(100),
    tipo_moto character varying(100),
    anos_experiencia integer DEFAULT 0,
    nivel character varying(20) DEFAULT 'basico'::character varying,
    puntos_acumulados integer DEFAULT 0,
    activo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.usuarios OWNER TO motoeduc_user;

--
-- Name: usuarios_auth; Type: TABLE; Schema: public; Owner: motoeduc_user
--

CREATE TABLE public.usuarios_auth (
    id integer NOT NULL,
    nombre character varying(120) NOT NULL,
    email character varying(120) NOT NULL,
    password_hash character varying(200) NOT NULL,
    tipo_uso character varying(30) DEFAULT 'urbano'::character varying,
    creado_en timestamp without time zone DEFAULT now(),
    ultimo_login timestamp without time zone,
    rol character varying(15) DEFAULT 'participante'::character varying
);


ALTER TABLE public.usuarios_auth OWNER TO motoeduc_user;

--
-- Name: usuarios_auth_id_seq; Type: SEQUENCE; Schema: public; Owner: motoeduc_user
--

CREATE SEQUENCE public.usuarios_auth_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_auth_id_seq OWNER TO motoeduc_user;

--
-- Name: usuarios_auth_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: motoeduc_user
--

ALTER SEQUENCE public.usuarios_auth_id_seq OWNED BY public.usuarios_auth.id;


--
-- Name: v_motos_completo; Type: VIEW; Schema: public; Owner: motoeduc_user
--

CREATE VIEW public.v_motos_completo AS
 SELECT m.id,
    ma.nombre AS marca,
    m.modelo,
    m.anio,
    t.nombre AS tipo,
    m.cilindrada_cc,
    m.potencia_hp,
    m.precio_usd,
    m.uso_recomendado,
    m.disponible_ec
   FROM ((public.motocicletas m
     JOIN public.marcas_moto ma ON ((m.marca_id = ma.id)))
     JOIN public.tipos_moto t ON ((m.tipo_id = t.id)))
  ORDER BY ma.nombre, m.modelo;


ALTER VIEW public.v_motos_completo OWNER TO motoeduc_user;

--
-- Name: arcade_partidas id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.arcade_partidas ALTER COLUMN id SET DEFAULT nextval('public.arcade_partidas_id_seq'::regclass);


--
-- Name: brechas_conocimiento id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.brechas_conocimiento ALTER COLUMN id SET DEFAULT nextval('public.brechas_conocimiento_id_seq'::regclass);


--
-- Name: categorias_pregunta id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.categorias_pregunta ALTER COLUMN id SET DEFAULT nextval('public.categorias_pregunta_id_seq'::regclass);


--
-- Name: contribuciones_historia id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.contribuciones_historia ALTER COLUMN id SET DEFAULT nextval('public.contribuciones_historia_id_seq'::regclass);


--
-- Name: duelos id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.duelos ALTER COLUMN id SET DEFAULT nextval('public.duelos_id_seq'::regclass);


--
-- Name: experimento_piloto id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.experimento_piloto ALTER COLUMN id SET DEFAULT nextval('public.experimento_piloto_id_seq'::regclass);


--
-- Name: garaje_items id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.garaje_items ALTER COLUMN id SET DEFAULT nextval('public.garaje_items_id_seq'::regclass);


--
-- Name: historial_evaluaciones id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.historial_evaluaciones ALTER COLUMN id SET DEFAULT nextval('public.historial_evaluaciones_id_seq'::regclass);


--
-- Name: llantas id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.llantas ALTER COLUMN id SET DEFAULT nextval('public.llantas_id_seq'::regclass);


--
-- Name: marcas_llanta id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.marcas_llanta ALTER COLUMN id SET DEFAULT nextval('public.marcas_llanta_id_seq'::regclass);


--
-- Name: marcas_moto id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.marcas_moto ALTER COLUMN id SET DEFAULT nextval('public.marcas_moto_id_seq'::regclass);


--
-- Name: motocicletas id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.motocicletas ALTER COLUMN id SET DEFAULT nextval('public.motocicletas_id_seq'::regclass);


--
-- Name: perfiles_motociclista id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.perfiles_motociclista ALTER COLUMN id SET DEFAULT nextval('public.perfiles_motociclista_id_seq'::regclass);


--
-- Name: piloto_evaluaciones id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.piloto_evaluaciones ALTER COLUMN id SET DEFAULT nextval('public.piloto_evaluaciones_id_seq'::regclass);


--
-- Name: preguntas_viales id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.preguntas_viales ALTER COLUMN id SET DEFAULT nextval('public.preguntas_viales_id_seq'::regclass);


--
-- Name: sesiones_chat id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.sesiones_chat ALTER COLUMN id SET DEFAULT nextval('public.sesiones_chat_id_seq'::regclass);


--
-- Name: tipos_llanta id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.tipos_llanta ALTER COLUMN id SET DEFAULT nextval('public.tipos_llanta_id_seq'::regclass);


--
-- Name: tipos_moto id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.tipos_moto ALTER COLUMN id SET DEFAULT nextval('public.tipos_moto_id_seq'::regclass);


--
-- Name: usuarios_auth id; Type: DEFAULT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.usuarios_auth ALTER COLUMN id SET DEFAULT nextval('public.usuarios_auth_id_seq'::regclass);


--
-- Name: arcade_partidas arcade_partidas_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.arcade_partidas
    ADD CONSTRAINT arcade_partidas_pkey PRIMARY KEY (id);


--
-- Name: arcade_stats arcade_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.arcade_stats
    ADD CONSTRAINT arcade_stats_pkey PRIMARY KEY (usuario_id);


--
-- Name: brechas_conocimiento brechas_conocimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.brechas_conocimiento
    ADD CONSTRAINT brechas_conocimiento_pkey PRIMARY KEY (id);


--
-- Name: categorias_pregunta categorias_pregunta_nombre_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.categorias_pregunta
    ADD CONSTRAINT categorias_pregunta_nombre_key UNIQUE (nombre);


--
-- Name: categorias_pregunta categorias_pregunta_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.categorias_pregunta
    ADD CONSTRAINT categorias_pregunta_pkey PRIMARY KEY (id);


--
-- Name: contribuciones_historia contribuciones_historia_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.contribuciones_historia
    ADD CONSTRAINT contribuciones_historia_pkey PRIMARY KEY (id);


--
-- Name: duelos duelos_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.duelos
    ADD CONSTRAINT duelos_pkey PRIMARY KEY (id);


--
-- Name: experimento_piloto experimento_piloto_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.experimento_piloto
    ADD CONSTRAINT experimento_piloto_pkey PRIMARY KEY (id);


--
-- Name: garaje_items garaje_items_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.garaje_items
    ADD CONSTRAINT garaje_items_pkey PRIMARY KEY (id);


--
-- Name: historial_evaluaciones historial_evaluaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.historial_evaluaciones
    ADD CONSTRAINT historial_evaluaciones_pkey PRIMARY KEY (id);


--
-- Name: llantas llantas_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.llantas
    ADD CONSTRAINT llantas_pkey PRIMARY KEY (id);


--
-- Name: marcas_llanta marcas_llanta_nombre_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.marcas_llanta
    ADD CONSTRAINT marcas_llanta_nombre_key UNIQUE (nombre);


--
-- Name: marcas_llanta marcas_llanta_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.marcas_llanta
    ADD CONSTRAINT marcas_llanta_pkey PRIMARY KEY (id);


--
-- Name: marcas_moto marcas_moto_nombre_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.marcas_moto
    ADD CONSTRAINT marcas_moto_nombre_key UNIQUE (nombre);


--
-- Name: marcas_moto marcas_moto_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.marcas_moto
    ADD CONSTRAINT marcas_moto_pkey PRIMARY KEY (id);


--
-- Name: motocicletas motocicletas_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.motocicletas
    ADD CONSTRAINT motocicletas_pkey PRIMARY KEY (id);


--
-- Name: perfiles_motociclista perfiles_motociclista_nombre_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.perfiles_motociclista
    ADD CONSTRAINT perfiles_motociclista_nombre_key UNIQUE (nombre);


--
-- Name: perfiles_motociclista perfiles_motociclista_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.perfiles_motociclista
    ADD CONSTRAINT perfiles_motociclista_pkey PRIMARY KEY (id);


--
-- Name: piloto_evaluaciones piloto_evaluaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.piloto_evaluaciones
    ADD CONSTRAINT piloto_evaluaciones_pkey PRIMARY KEY (id);


--
-- Name: piloto_evaluaciones piloto_evaluaciones_usuario_id_fase_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.piloto_evaluaciones
    ADD CONSTRAINT piloto_evaluaciones_usuario_id_fase_key UNIQUE (usuario_id, fase);


--
-- Name: piloto_preguntas piloto_preguntas_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.piloto_preguntas
    ADD CONSTRAINT piloto_preguntas_pkey PRIMARY KEY (orden);


--
-- Name: piloto_preguntas piloto_preguntas_pregunta_id_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.piloto_preguntas
    ADD CONSTRAINT piloto_preguntas_pregunta_id_key UNIQUE (pregunta_id);


--
-- Name: preguntas_viales preguntas_viales_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.preguntas_viales
    ADD CONSTRAINT preguntas_viales_pkey PRIMARY KEY (id);


--
-- Name: sesiones_chat sesiones_chat_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.sesiones_chat
    ADD CONSTRAINT sesiones_chat_pkey PRIMARY KEY (id);


--
-- Name: tipos_llanta tipos_llanta_nombre_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.tipos_llanta
    ADD CONSTRAINT tipos_llanta_nombre_key UNIQUE (nombre);


--
-- Name: tipos_llanta tipos_llanta_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.tipos_llanta
    ADD CONSTRAINT tipos_llanta_pkey PRIMARY KEY (id);


--
-- Name: tipos_moto tipos_moto_nombre_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.tipos_moto
    ADD CONSTRAINT tipos_moto_nombre_key UNIQUE (nombre);


--
-- Name: tipos_moto tipos_moto_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.tipos_moto
    ADD CONSTRAINT tipos_moto_pkey PRIMARY KEY (id);


--
-- Name: usuarios_auth usuarios_auth_email_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.usuarios_auth
    ADD CONSTRAINT usuarios_auth_email_key UNIQUE (email);


--
-- Name: usuarios_auth usuarios_auth_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.usuarios_auth
    ADD CONSTRAINT usuarios_auth_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_arcade_partidas_usuario; Type: INDEX; Schema: public; Owner: motoeduc_user
--

CREATE INDEX idx_arcade_partidas_usuario ON public.arcade_partidas USING btree (usuario_id);


--
-- Name: idx_arcade_xp; Type: INDEX; Schema: public; Owner: motoeduc_user
--

CREATE INDEX idx_arcade_xp ON public.arcade_stats USING btree (xp_total DESC);


--
-- Name: idx_duelos_retador; Type: INDEX; Schema: public; Owner: motoeduc_user
--

CREATE INDEX idx_duelos_retador ON public.duelos USING btree (retador_id, estado);


--
-- Name: idx_duelos_rival; Type: INDEX; Schema: public; Owner: motoeduc_user
--

CREATE INDEX idx_duelos_rival ON public.duelos USING btree (rival_id, estado);


--
-- Name: idx_usuarios_auth_email; Type: INDEX; Schema: public; Owner: motoeduc_user
--

CREATE INDEX idx_usuarios_auth_email ON public.usuarios_auth USING btree (email);


--
-- Name: arcade_partidas arcade_partidas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.arcade_partidas
    ADD CONSTRAINT arcade_partidas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios_auth(id) ON DELETE CASCADE;


--
-- Name: arcade_stats arcade_stats_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.arcade_stats
    ADD CONSTRAINT arcade_stats_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios_auth(id) ON DELETE CASCADE;


--
-- Name: duelos duelos_retador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.duelos
    ADD CONSTRAINT duelos_retador_id_fkey FOREIGN KEY (retador_id) REFERENCES public.usuarios_auth(id) ON DELETE CASCADE;


--
-- Name: duelos duelos_rival_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.duelos
    ADD CONSTRAINT duelos_rival_id_fkey FOREIGN KEY (rival_id) REFERENCES public.usuarios_auth(id) ON DELETE CASCADE;


--
-- Name: experimento_piloto experimento_piloto_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.experimento_piloto
    ADD CONSTRAINT experimento_piloto_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: historial_evaluaciones historial_evaluaciones_pregunta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.historial_evaluaciones
    ADD CONSTRAINT historial_evaluaciones_pregunta_id_fkey FOREIGN KEY (pregunta_id) REFERENCES public.preguntas_viales(id);


--
-- Name: historial_evaluaciones historial_evaluaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.historial_evaluaciones
    ADD CONSTRAINT historial_evaluaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: llantas llantas_marca_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.llantas
    ADD CONSTRAINT llantas_marca_id_fkey FOREIGN KEY (marca_id) REFERENCES public.marcas_llanta(id);


--
-- Name: llantas llantas_tipo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.llantas
    ADD CONSTRAINT llantas_tipo_id_fkey FOREIGN KEY (tipo_id) REFERENCES public.tipos_llanta(id);


--
-- Name: motocicletas motocicletas_marca_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.motocicletas
    ADD CONSTRAINT motocicletas_marca_id_fkey FOREIGN KEY (marca_id) REFERENCES public.marcas_moto(id);


--
-- Name: motocicletas motocicletas_tipo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.motocicletas
    ADD CONSTRAINT motocicletas_tipo_id_fkey FOREIGN KEY (tipo_id) REFERENCES public.tipos_moto(id);


--
-- Name: piloto_evaluaciones piloto_evaluaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.piloto_evaluaciones
    ADD CONSTRAINT piloto_evaluaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios_auth(id) ON DELETE CASCADE;


--
-- Name: piloto_preguntas piloto_preguntas_pregunta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.piloto_preguntas
    ADD CONSTRAINT piloto_preguntas_pregunta_id_fkey FOREIGN KEY (pregunta_id) REFERENCES public.preguntas_viales(id);


--
-- Name: preguntas_viales preguntas_viales_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.preguntas_viales
    ADD CONSTRAINT preguntas_viales_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categorias_pregunta(id);


--
-- Name: sesiones_chat sesiones_chat_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: motoeduc_user
--

ALTER TABLE ONLY public.sesiones_chat
    ADD CONSTRAINT sesiones_chat_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict bbcGoGkKNZfaqBbnJ1EMRdRWLy5ROiwMfoO1M4PAOfS9DzK27v47gZdSxLwsYaq

